{% extends 'base.html' %}
{% load static %}
{% block body %}
       <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>About Baby Care</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> About Us</li>
                           </ul>
                       </div>
                   </div>
               </div>
       
    <!-- ######## Page  Title End ####### -->
       
    <section class="with-medical">
        <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-12">
                    <img src="{%static 'assets/images/why.jpg' %}" alt="">
                </div>
                <div class="col-lg-6 col-md-12 txtr">
                    <h4>Why choos Health Care with <br>
                     <span>Medical Hospital</span>   
                    </h4>
                    <p>It is an easy payment channel for collection, recording, organizing, and analyzing donations (Gifts, offerings, Tithes, Project offerings, Fun-raising, etc) of Churches, NGOs, organizations, and individuals who would like to raise funds/ donations.
                    <BR>For churches and organizations, the system only provides the channel and database base for their records and analyses. Escrow does not receive payment on behalf of these organizations. Escrow was developed and managed by Philonet Systems Limited.</p>
                    <p>  </p>
                </div>
                
            </div>
        </div>
    </section>
       
            <!-- ################# AppointmentStarts Here#######################--->

    <div class="professional-details">
        <div class="layy">
            <div class="container">
                <div class="title-another row">
                    <h4>We Are Professionals</h4>
                    <h2>Professional Approach</h2>
                    <h3>and Quality Services</h3>
                    <div class="btn-ro">
                        <button class="btn btn-default">Book an Appointment</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- ################# Our Team Starts Here#######################--->
    <section class="our-team">
        <div class="container">
            <div class="inner-title row">
                <h2>Our Team</h2>
                <p>Take a look at our Team</p>
            </div>
            <div class="row team-row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb1.jpg" alt="">
                        <div class="det-o">
                            <h4>David Kanuel</h4>
                            <i>Facial Surgan</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb2.jpg" alt="">
                        <div class="det-o">
                            <h4>David Kanuel</h4>
                            <i>Facial Surgan</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb3.jpg" alt="">
                        <div class="det-o">
                            <h4>David Kanuel</h4>
                            <i>Facial Surgan</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb4.jpg" alt="">
                        <div class="det-o">
                            <h4>David Kanuel</h4>
                            <i>Facial Surgan</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
        
<!-- ################# Footer Starts Here#######################--->


{% endblock body %}