{% extends 'base.html' %}
{% load static %}
{% block body %}
  
       <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Our Services</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> About Us</li>
                           </ul>
                       </div>
                   </div>
               </div>
       
    <!-- ######## Page  Title End ####### -->
       
     <!-- ################# Health Care Here#######################--->
     
     <section class="health-care">
         <div class="container">
            <div class="row">
                 <div class="col-md-3 col-sm-6 vd">
                     <img src="http://babycarehospital.in/uploads-advertro-03-08-2019/babycarehospital/updates/918266/55.jpg" alt="">
                     <h4>New Born Ventilation</h4>
                     <p>On the off chance that you are looking through New Born Ventilation in Punjabi Bagh, contact to Baby Care New Born Hospital.we utilize the most super current infant ventilation hardware that shapes the foundation of our framework. We additionally use facility the board programming, which not just gives suggestions to patients to customary arrangements and subsequent meet-ups yet in addition helps us in keeping up with patient's records.Get infant ventilation administrations for best outcomes from our accomplished specialists.</p>                 
                      <button class="btn btn-info"><a  class="read" href="https://clinicalgate.com/mechanical-ventilation-of-the-newborn/">Readmore</a>
                         <i class="fas fa-arrow-right"></i></button>
                 </div>
                 <div class="col-md-3 col-sm-6 vd">
                     <img src="http://babycarehospital.in/uploads-advertro-03-08-2019/babycarehospital/updates/915774/developmental-care-infant.jpg" alt="">
                     <h4>Neuro Developmental Care</h4>
                     <p>Baby Care NewBorn Hospital is the fundamental adolescent consideration crisis facility that offers the workplace of neurodevelopment care in the nicu. Our nicu is uncommon with state of the art systems and development which is utilized by our lord NICU gathering of all around ready and experienced specialists to give the genuine thought to decrease weight on infants and advance normal neurological improvement i.e mental and motor improvement of preterm infant kids.</p>
                     <button class="btn btn-info"><a  class="read" href="https://synapsecare.com/the-pillars-neuro-development/">Readmore</a>
                        <i class="fas fa-arrow-right"></i></button>
                 </div>
                 <div class="col-md-3 col-sm-6 vd">
                     <img src="http://babycarehospital.in/uploads-advertro-03-08-2019/babycarehospital/updates/915769/premie_600.jpg" alt="">
                     <h4>Neonatal ICU</h4>
                     <p>Baby Care New Born Hospital here gives Neonatal ICU administrations in Punjabi Bagh. Our obligation to convey top notch care motivates our ordinary independent direction. Our clinicians are upheld by the most recent development in medical care technology. We give Neonatal ICU administrations at the least price. Our care group and care staff furnish the best consideration fully intent on bringing trust for your neonatal into your heart. Get Neonatal ICU administrations for best outcomes for your youngester.</p>
                     <button class="btn btn-info"><a  class="read" href="https://en.wikipedia.org/wiki/Neonatal_intensive_care_unit#:~:text=A%20neonatal%20intensive%20care%20unit%20%28NICU%29%2C%20also%20known,intensive%20care%2C%20has%20been%20around%20since%20the%201960s.">Readmore</a>
                         <i class="fas fa-arrow-right"></i></button>
                 </div>
                 <div class="col-md-3 col-sm-6 vd">
                     <img src="http://babycarehospital.in/uploads-advertro-03-08-2019/babycarehospital/updates/917643/newbornbasics.jpg" alt="">
                     <h4>ELBW Care</h4>
                     <p>Child Care Newborn Hospital is resolved to convey ELBW Care in Paschim Puri.ELBW represents incredibly low birth weight babies is characterized as Most very low birth weight babies are additionally the most youthful of untimely newborns. Neonatal concentrated consideration support is proposed to high-chance infants and children with low birth weight, untimely birth, and complex ailments. We have an all-around experienced group of kid-trained professionals and nurses. For more data or requests simply visit us today!</p>
                     <button class="btn btn-info"><a  class="read" href="https://www.nccwebsite.org/content/documents/cms/elbw-content-outline.pdf">Readmore</a>
                         <i class="fas fa-arrow-right"></i></button>
                 </div>
            </div>
            
             
         </div>
     </section>
       
         <!-- ################# Services Starts Here#######################--->
     
     <section class="our-services">
         <div class="container">
             <div class="row">
                 <div class="col-md-7 col-sm-12">
                     <div class="service-box">
                         <div class=" d-flex">
                            <div class="icon">
                                 <i class="fas fa-hospital-alt"></i>
                            </div>
                            <div class="det">
                                <b>Hourly Visiting</b>
                                <p>Hourly visiting home care is a flexible care service for people who need some help to live independently at home.</p>
                            </div>
                             
                         </div>
                     </div>
                      <div class="service-box">
                         <div class=" d-flex">
                            <div class="icon">
                                 <i class="fas fa-user-md"></i>
                            </div>
                            <div class="det">
                                <b>Our Live-In Care</b>
                                <p>We enable people to live comfortably in their own homes, while they are being cared for full-time.</p>
                             
                         </div>
                     </div>
                      <div class="service-box">
                         <div class=" d-flex">
                            <div class="icon">
                                 <i class="fas fa-briefcase-medical"></i>
                            </div>
                            <div class="det">
                                <b>Dementia Care</b>
                                <p>We help you arrange specialist live-in dementia care. Our carers stay in your loved one’s home, for them to enjoy the familiarity of home.</p>
                            </div>
                             
                         </div>
                     </div>
                      <div class="service-box">
                         <div class=" d-flex">
                            <div class="icon">
                                 <i class="fas fa-capsules"></i>
                            </div>
                            <div class="det">
                                <b>Our Respite Care</b>
                                <p>We are always there to step in when you need to make time for yourself from caring for your loved ones.</p>
                            </div>
                             
                         </div>
                     </div>
                 </div>
                 <div class="col-md-5 col-sm-12">
                     <div class="imagr-box">
                         <img src="assets/images/side-image.jpg" alt="">
                     </div>
                 </div>
             </div>
         </div>
     </section>
        
<!-- ################# Footer Starts Here#######################--->

{% endblock body %}