{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Our Team</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Our Team</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ######## Page  Title End ####### -->

    <!-- ################# Our Team Starts Here#######################--->
    <section class="our-team team-11">
        <div class="container">

            <div class="row team-row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="https://www.topdoctors.co.uk/files/Doctor/profile/prof_2943_20210713114620.png"
                            alt="">
                        <div class="det-o">
                            <h4><a href="https://www.topdoctors.co.uk/doctor/sunit-godambe">Dr. Sunit Godambe</a></h4>
                            <i>Paediatrician  and Neonatologist</i>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="https://www.topdoctors.co.uk/files/Doctor/results/prof__20220330143029.png" alt="">
                        <div class="det-o">
                            <h4><a href="https://www.topdoctors.co.uk/doctor/nur-ozyilmaz">Dr. Nur Ozyilmaz</a></h4>
                            <i>Integrative Paediatric </i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="https://www.topdoctors.co.uk/files/Doctor/results/prof_1345_20211110132201.png"
                            alt="">
                        <div class="det-o">
                            <h4><a href="https://www.topdoctors.co.uk/doctor/helen-brough">Dr. Helen Brough </a></h4>
                            <i>Paediatric Allergist</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="https://www.topdoctors.co.uk/files/Doctor/results/prof_2204_20200727170049.png"
                            alt="">
                        <div class="det-o">
                            <h4><a href="https://www.topdoctors.co.uk/doctor/christopher-pepper">Mr. Christopher
                                </a></h4>
                            <i>Paediatric ENT Surgeon,</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="https://www.topdoctors.co.uk/files/Doctor/results/5b7d7f0d-cef8-425d-a4d9-733725bbab96.png"
                            alt="">
                        <div class="det-o">

                            <h4><a href="https://www.topdoctors.co.uk/doctor/george-du-toit">Prof. George Du
                                </a></h4> 
                            <i> Consultant Paediatric Allergist</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="https://www.topdoctors.co.uk/files/Doctor/profile/5aafdf99-4f10-4ae3-a2a3-7e7425bbab96.png" alt="">
                        <div class="det-o">
                            <h4><a href="https://www.topdoctors.co.uk/doctor/dieudonne-birahinduka">Dr. Dieudonne Birahinduka
                            </a></h4>
                            <i>Consultant Paediatrician,Infant Feeding</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="https://www.topdoctors.co.uk/files/Doctor/profile/prof_634_20200720152943.png" alt="">
                        <div class="det-o">
                            <h4><a href="https://www.topdoctors.co.uk/doctor/olga-kapellou">Dr. Olga Kapellou
                            </a></h4>
                            <i>Child constipation Specialist, Neurology</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="https://www.topdoctors.co.uk/files/Doctor/profile/prof_1682_20200319173738.jpeg" alt="">
                        <div class="det-o">
                            <h4><a href="https://www.topdoctors.co.uk/doctor/gautam-kulkarni">Dr Gautam Kulkarni</a></h4>
                            <i> Child Allergies Specialist</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- ################# Footer Starts Here#######################--->

{% endblock body %}